<h3>Administrator Controls</h3>

<h5>Hikes Directory:</h5>

<ul>
  <% @hikes.each do |hike| %>
    <li>
      <%= link_to hike.name, hike_path(hike) %>
      <%= link_to 'Update', edit_hike_path(hike), class: 'teal btn-flat' %>
      <%= link_to 'Delete', hike_path(hike), method: 'delete', data: { confirm: 'Are you sure you want to remove this hike?' }, class: 'red btn-flat' %>
    </li>
    <br>
  <% end %>
</ul>



<%= link_to 'Add New Hike', new_hike_path, class: 'btn btn-outline-primary' %>
