<h3>Browse All Hikes</h3>

<div class='row container-fluid'>

  <% @hikes.each do |hike| %>
    <div class="col-md-4">
      <h4 class='index-hike-title'><%= link_to hike.name, hike_path(hike) %></h4>
      <%= image_tag hike.image.url, class: 'thumbnail' %>
    </div>
  <% end %>

</div>
