<body class='contact'>
  <h3>Get In Touch</h3>

  <div class="row container">
    <div class="col s12">
      <div class="card-panel" id="contact-form">
        <h4>Thank you for your message!</h4>

        <p>We'll get back to you as soon as possible.</p>

        <%= link_to 'Home', root_url, class: 'btn' %>
      </div>
    </div>
  </div>

</body>
